.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4C0B5F;
}
.circular--square {
  border-radius: 50%;
}
.form-wrapper {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 25px 60px;
  border-radius: 10px;
  box-shadow: 0px 10px 50px #555;
  background-color: #ffffff;
}

Form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}



label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: #222;
  font-weight: lighter;
}


button{
  background: #4C0B5F !important;
}
